<section class="row postCard">
  <h1>{{post.title}}</h1>
  <p>{{post.body}}</p>
  <p>Posted:
    <span class="badge text-bg-secondary">{{post.date}} </span>
    by
    {{post.username}}
  </p>
  <a href="/posts" class="btn btn-info">View all posts</a>
</section>